<div>
    <div class="footer1">
        <div class="foot">
            <div>
                <img alt="" src="../../assets/logo3.png" width="80" height="100" class="logo1" />
            </div>
            
            <div class="row1">
                <h6 class="tit">Contact us</h6> <br/>
                <div>
                <div class="inl"><mat-icon class="text-white" >local_phone</mat-icon> <p class="text-white" id="l1"> 01 79 72 79 90 </p>  </div> <br/> 
                <div class="inl"><mat-icon class="text-white" >mail_icon</mat-icon> <p class="text-white" id="l1">coconsult@gmail.com</p>  </div> <br/> </div>
            </div> 
            <div class="row2">
                <h6 class="tit">about</h6> <br/>
                 <div class="mr"><li class="text-white"><a class="text-white" routerLink="/" fragment="service">iso</a> </li> 
                 <li class="text-white"><a class="text-white" routerLink="/" fragment="apropos">about</a> </li> </div>
            </div>
            <div class="row3">
                <h6 class="tit">help</h6> <br/>
                <div class="mr"><li class="text-white"><a class="text-white" routerLink="/contact"> Contact us</a> </li>
                <li class="text-white"><a class="text-white" href="">client space</a> </li> </div>
            </div>
            <div class="row4">
                <h4 class="text-white mt-lg-0 mt-sm-3" id="dem">Begin here</h4>
                <p class="text-white" id="axe">Streamline Your ISO Certification Process – The Smart Way to Verify Compliance</p>
                <a id="h44">
                    <button class="bn632-hover bn26" routerLink="/login">Sign in</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <p class="text-white"><small>Copyright © 2025 coconsult</small></p>
    </div>
</div>

