<div
  class="card"
  style="width:20rem;"
>
  <img height="200" [src]="trainingCover" class="card-img-top" alt="...">
  <div class="card-body overflow-scroll">
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1"><i class="fa-solid fa-chalkboard-teacher"></i>&nbsp;{{training.name}}</h5>
    <h5 class="card-subtitle fs-6 text-secondary fw-bold mb-1"><i class="fa-solid fa-circle-check"></i>&nbsp;{{training.trainingStatus}}</h5>
    <h6 class="card-subtitle fs-6 text-secondary fw-bold mb-1"><i class="fa-solid fa-code"></i>&nbsp;{{training.trainingNumber}}</h6>
  </div>
</div>
