<div class="liability-form">
    <h2>{{ isEditMode ? 'Edit Liability' : 'Create Liability' }}</h2>
  
    <form (ngSubmit)="onSubmit()" #liabilityForm="ngForm">
      <label for="name">Name:</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="liability.name"
        required
      />
  
      <label for="amount">Amount:</label>
      <input
        type="number"
        name="amount"
        [(ngModel)]="liability.amount"
        required
      />
  
      <label for="typeLiability">Type:</label>
      <select
        name="typeLiability"
        [(ngModel)]="liability.typeLiability"
      >
        <option value="EQUITY">EQUITY</option>
        <option value="DEBTS">DEBTS</option>
        <!-- Add more options if needed -->
      </select>
  
      <label for="categorieLiability">Category:</label>
      <input
        type="text"
        name="categorieLiability"
        [(ngModel)]="liability.categorieLiability"
      />
      <label for="dueDate">Due Date:</label>
      <input
        type="date"
        id="dueDate"
        name="dueDate"
        [(ngModel)]="liability.dueDate"
        required
      />
  
      <button type="submit">{{ isEditMode ? 'Update' : 'Save' }}</button>
    </form>
  </div>
  
